
body {
	font-family: Nunito,sans-serif;
}

.form_layout{
	width: 342px;;
	padding: 60px 47px 44px 47px;
	background: #FFFFFF;
	margin: 45% -13%;
	-moz-box-shadow: 0px -1px 33px 1px #b8babd;
	-webkit-box-shadow: 0px -1px 33px 1px #b8babd;
	border-radius: 5%;
	box-shadow: 0px -1px 33px 1px #b8babd;
}

.form_layout input[type="text"],
.form_layout input[type="date"],
.form_layout input[type="datetime"],
.form_layout input[type="email"],
.form_layout input[type="number"],
.form_layout input[type="search"],
.form_layout input[type="time"],
.form_layout input[type="url"],
.form_layout input[type="password"],
.form_layout textarea,
.form_layout select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 1px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-top: 30px;
	margin-bottom: 15px;
	/*font: 16px Arial, Helvetica, sans-serif;*/
	height: 29px;
}

.form_layout input:focus{border-color: #2d76f55c;}


.form_layout textarea{
	resize:none;
	overflow: hidden;
}

.form_layout button[type="submit"]{
	width: 100%;
	background-color: #d00c06;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	border-radius: 9px;
	font-weight: bolder;
	font-size: medium;
	padding: 8px 18px;
	text-decoration: none;
	/*text-transform: uppercase;*/
	margin-top: 33px;
}

.form_layout a b{
	font-weight: bold;
    font-size: smaller;
    color: #6a6f73
}
.form_layout input[type="button"]:hover, 
.form_layout input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
.form_layout img{
	width: 95%;
}
.login-title b{
    font-size: x-large;
}
.form-group {
	     margin-bottom: 0em !important; 
}
