body{
  overflow-x: hidden;
  background-color: white;
}
.navbar{
  background-color: #CE0505 !important;
  height: 71px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
}
.nav-item{
  position: relative;
}
.nav-link{
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  opacity: 70%;
}
.nav-link.active{
  opacity: 100%;
  border-bottom: solid 3px white !important;
}
.navbar .brand-logo{
  height: 28px;
  width: 79px;
}
.navbar .navbar-menu-list{
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0;
  margin: auto;
  font-size: 18px;
  font-weight: 500;
}
.navbar a{
  text-decoration: none;
  color: white;
}
.navbar .navbar-menu-list li{
  height: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: white;
  display: inline-block !important;
  list-style: none;
}
.navbar .user-nav{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
  font-weight: 500;
}
.navbar .user-nav li{
  list-style: none;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.navbar .user-avatar-img{
  height: 35px;
  width: 35px;
}
.navbar .user-avatar{
  position: relative;
}
.navbar #login-option{
  visibility: hidden;
  text-align: right;
  font-size: 12px;
  background-color: white;
  position: absolute;
  z-index: 2;
  width: 150px;
  left: -100px;
  top: 40px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
}
#login-option.active{
  visibility: visible;
}
#login-option a{
  color: grey;
}
.navbar .login-option li{
  border-bottom: rgba(0, 0, 0, 0.16) solid 1px;
  color: grey;
  letter-spacing: 0.02em;
  font-weight: 600;
  opacity: 66%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar .login-option li:hover{
 border-left: #CE0505 solid 2px;
 cursor: pointer;
}


.a-radio-custom {
    opacity: 0;
    width: 30px;
    height: 30px;
    position: absolute;   
}
.a-radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}


.a-radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}
.checkbox-custom-label:before {
    background: rebeccapurple;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.a-radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.a-radio-custom:checked + .radio-custom-label:before {
    background: #CE0505;
    box-shadow: inset 0px 0px 0px 4px #fff;
    border: 2px solid #CE0505;
}
.a-radio-custom:focus + .radio-custom-label {/* focus style */
}

.section-1{  
  background-size: cover;
  height: 100%;
}

.section-1:after{
    content: '';
    background-image:  url('../images/LoginScreen.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 80%;
    width: 80%;
    z-index: -2;
    background-size: cover;
}
.section-1 .brand-logo{
  position: relative;
  height: 80px;
}
.section-1 .brand-logo img{
  height: 80px;
  width: 180px;
  object-fit: scale-down;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-1 .login-panel{
  margin-top: 20vh;
  width: 323px;
}
.login-panel .login-title{
  font-size: 20px;
  margin-bottom: 30px;
}
.success-icon img{
  height: 100px;
  object-fit: scale-down;
  margin-bottom: 30px;
}
.field-errors{
  color: maroon;
}

.a-text{
  background-color: #FAFAFA;
  border: solid 1px rgb(112, 112, 112, .5);
  width: 100%;
  height: 55px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.a-btn{
  width: 146px;
  height: 50px;
  font-weight: 700;
  font-size: 18px;
  
}

.a-btn-login{
  background-color: #CE0505;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.54) 0 3px 6px;
  
}
.a-btn-signup{
  background-color: #E7F1F3;
  padding-top:2%;
  color: #333;
}
.login-panel a{
  text-decoration: none !important;
  color: #323232;
}
.submit-section{
  height: 50px;
  position: relative;
}
.login-panel .link{
  color: #323232;
  font-weight: 700;
  padding-top: 15px;
}
.a-red-btn{
  background-color: #CE0505;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
  color: white;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px !important;
  font-size: 18px;
}
.a-link{
  font-weight: 600;
  color: #333;
}
.a-link-white{
  color: white !important;
}
.a-link:hover{
  text-decoration: none;
}

.middle-x{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}
.middle-y{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.modal .modal-title{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 600;
}
.modal .modal-content{
  padding: 20px;
}
.modal .modal-header{
  border: none;
  position: relative;
}
.modal .modal-footer{
  border: none;
  -webkit-box-pack: unset !important;
} 
.modal .modal-sm{
  width: 800px !important;
}
@media (min-width: 576px) {
  .modal-sm {
    max-width: 450px !important;
  }
}
.a-box{
  border-top:rgba(193, 192, 192, 0.16) solid 1px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
}

.a-table{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
  border-radius: 6px;
}
.a-table thead{
  background-color: #F2F2F2;
}

.a-table thead th{
  font-size: 14px;
  color: #323232;
  opacity: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.a-table thead tr th:first-child{
  padding-left: 20px;
}
.a-table thead tr th:last-child{
  padding-right: 20px;
}
.a-table tbody tr td:first-child{
  padding-left: 20px;
}
.a-table tbody tr td:last-child{
  padding-right: 20px;
}
.a-table tbody tr td{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: #E1E1E1 solid 1px;
}
.table-top-row .table-title{
  font-size: 18px;
  font-weight: 700;
}

.table-top-row{
   background-color: #F2F2F2;
   padding-left: 20px;
   padding-bottom: 20px;
   padding-top:20px;
   padding-bottom:10px;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
}
.table-top-row input{
  background-color: #F2F2F2;
  width: 100%;
  border: none;
  border-bottom: #707070 solid 1px;
}
.table-top-row .table-search-col{
  position: relative;
}
.table-top-row .table-search-col img{
  position: absolute;
  top: 5px;

  right:15px;
}
.a-table .a-checkbox{
  margin-right: 20px;
  vertical-align: unset;
}
.message-row{
  margin-top: 25px;
  position: relative;
}
.message-row .flash-message{
 text-align: center;  
}
.list-inline{
  display: inline;
}
.list-inline li{
  display: inline-block;
}
.a-sub-menu{
  position: relative;
  width: 200%;
  height:70px;
}

.a-sub-menu ul{
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
}
.a-sub-menu ul li{
  margin-left: -5px;
  position: relative;
  min-width: 250px;
  height: 70px;
  font-size: 16px;
}
.a-sub-menu .option-btn{
  text-align: center;
  vertical-align: middle;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 50%;
  display: block;
  background-color: #F4F4F4;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin:auto !important;
  color: #333;
  font-weight: 600;
}
.a-sub-menu .option-btn.selected{
  background-color: #CE0505;
  z-index:4;
  height: 100%;
  color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
}
.a-sub-menu .option-btn span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.a-label{
  font-weight: 700;
  font-size: 16px;
  color: #333;
}



/* ------------Media Queries-------- */
@media screen and (max-width: 786px) {
  .navbar .navbar-menu-list{
    visibility:hidden;
  }
}


/* ------------DashBoard style------------- */

.top-ads-row{
  margin-top: 32px;
}

.top-ads-row .icons{
  vertical-align: text-bottom;
  height: 50px;
  width: 50px;
}
.top-ads-row .ads-number{
  font-size: 50px;
  margin-left: 10px;
  color: #323232;
}
.top-ads-row .ad-details{
  font-size: 18px;
}
.table-top-header .left-list{
  padding-left: 0;
}
.table-top-header .right-list li{
  padding-right: 0;
  padding-left: 20px;
}
.table-top-header ul li{
  display: inline-block;
  list-style: none;
  padding-right: 25px;
}
.table-top-header{
  margin-top: 32px;
}
.table-top-header a{
  text-decoration: none;
  color: #333;
}
.table-top-header .label{
  font-weight: 700;
  font-size: 20px;
}
.table-top-header .label-field{
  font-size: 20px;
  padding-left: 5px;
}

/* ------------newCampaign style------------- */
.card-ad-img img{
  position: absolute;
  left: 50%;
  height: 116px;
  object-fit: scale-down;
  transform: translateX(-50%);
}
.card-ad-img{
  position: relative;
  height: 116px;
  margin-bottom: 100px;
}
.card-ad-img .close{
  color: white;
  position: absolute;
  right:25px;
  transform: translateY(-50%);
  border-radius: 50%;
  height: 37px;
  width: 37px;
  background-color: #ce0505;
  z-index: 4;
  opacity: 1;
}

.bottom-menu .right-nav-list{
  margin-left: auto !important;
}
.bottom-menu .right-nav-list li{
  margin-right: 50px;
}
.bottom-menu .left-nav-list{
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  padding-top: 15px;
  margin-right: auto;
  margin-bottom: 0;
}

.checkbox-div{
  padding-top:13%;
}




/* ------------newCampaignAd style------------- */
.editPreviewAd .card-ad-img img{
  width:85%;
}


.editPreviewAd .a-box{
  border: none;
  resize: none;
}


.editPreviewAd .card-ad-img textarea{
  width: 100%; 
  height:150px; 
  padding: 10px;
}


.editPreviewAd .big-ok-button{
  margin-left: auto;
  margin-right: auto;
  width:146px;
  height:50px;
}

#border-design{
  border:solid 1px #D6D6D6;
}

.editPreviewAd #previewAd{
  font-size: 24px;
  margin-top: -10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}